<template>
  <div>
  <Navbar :ruta="ruta"></Navbar>
  <!-- Main Sidebar Container -->
  <Aside :ruta="ruta"></Aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <transition name="slide-fade" mode="out-in">
        <router-view></router-view>
    </transition>
  </div>
  
  <!-- /.content-wrapper -->
  <Footer :ruta="ruta" ></footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
</template>

<script>
import Navbar from './plantilla/Navbar'
import Aside from './plantilla/Aside'
import Content from './plantilla/Content'
import Footer from './plantilla/Footer'

export default {
    props:['ruta'],
    components:{Navbar,Aside,Content,Footer}
}
</script>

<style>

</style>